*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

button{
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 11px;
}

button:hover{
  transform: scale(1.06);
  transition: all ease 0.2s;
}

.heads{
  background-color: gold;
  color: orangered;
}

.tails{
  background-color: silver;
  color: white;
}

.reset{
  background-color: red;
  color: white;
}

p{
  width: 50%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
}